{{>layout/header}}

<h1>E-Commerce 웹 서비스</h1>
<h5>Spring Cloud로 개발하는 마이크로서비스 애플리케이션 강의를 기반으로 개발한 웹 서비스입니다.</h5>
<h5>현재 API 테스팅을 위한 도구 기능만을 제공하고 있습니다.</h5>
<hr>
<div class="col-md-4">
    <h5>GET 요청</h5>
    <form>
        <div class="form-group">
            <label for="normal-uri">URI</label>
            <input type="text" class="form-control" id="normal-uri" placeholder="URI를 입력하세요">
        </div>
        <div><input type="reset" class="btn btn-secondary"></div>
    </form>
    <button type="button" class="btn btn-primary" id="btn-get">전송</button>
</div>
<hr>
<div class="col-md-4">
    <h5>토큰을 포함한 GET 요청</h5>
    <form>
        <div class="form-group">
            <label for="token-uri">URI</label>
            <input type="text" class="form-control" id="token-uri" placeholder="URI를 입력하세요">
        </div>
        <div class="form-group">
            <label for="token">token</label>
            <input type="text" class="form-control" id="token" placeholder="토큰을 추가하세요">
        </div>
        <div><input type="reset" class="btn btn-secondary"></div>
    </form>
    <button type="button" class="btn btn-primary" id="btn-tokenget">전송</button>
</div>
<hr>
<div class="col-md-4">
    <h5>회원가입(/user-service/users)</h5>
    <form>
        <div class="form-group">
            <label for="signup-email">email</label>
            <input type="text" class="form-control" id="signup-email" placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group">
            <label for="signup-name">name</label>
            <input type="text" class="form-control" id="signup-name" placeholder="이름을 입력하세요">
        </div>
        <div class="form-group">
            <label for="signup-password">password</label>
            <input type="text" class="form-control" id="signup-password" placeholder="비밀번호을 입력하세요">
        </div>
        <div><input type="reset" class="btn btn-secondary"></div>
    </form>
    <button type="button" class="btn btn-primary" id="btn-signup">전송</button>
</div>
<hr>
<div class="col-md-4">
    <h5>로그인(/user-service/login)</h5>
    <form>
        <div class="form-group">
            <label for="login-email">email</label>
            <input type="text" class="form-control" id="login-email" placeholder="이메일을 입력하세요">
        </div>
        <div class="form-group">
            <label for="login-password">password</label>
            <input type="text" class="form-control" id="login-password" placeholder="비밀번호을 입력하세요">
        </div>
        <div><input type="reset" class="btn btn-secondary"></div>
    </form>
    <button type="button" class="btn btn-primary" id="btn-login">전송</button>
</div>
<hr>
{{>layout/footer}}